.prestation {
    ul {
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
    }

    li {
        margin-bottom:  0.5em;
    }

    .prestation__header {
        font-weight: bold;
    }

    .prestation__media {
        width:60px;
    }
}

